@model Issue

<div class="d-flex justify-content-center align-items-center mb-4">
   <div class="pagetitle">
      <h3>Issue Details</h3>
   </div>
</div>


<section class="section">
   <a asp-controller="Project" asp-action="Details" asp-route-projectId="@Model.ProjectId" class="link-info mb-3">
      <i class="bi bi-skip-backward"></i> Back to Project
   </a>

   <div class="row col-lg-12">

      <div class="col-6">
         <div class="card">
            <div class="card-body">
               <div class="col-12 mt-3">
                  <h6>Issue Title </h6>
                  <p class="">
                     @Model.Title
                  </p>
               </div>
               <hr class="hr" />
               <div class="col-12">
                  <h6>Issue Description </h6>
                  <p class="">
                     @Model.Description
                  </p>
               </div>
               <hr class="hr" />
               <div class="d-flex col-12">
                  <div class="col-6">
                     <h6>Project</h6>
                     <p class="">
                        @Model.Project.Name
                     </p>
                  </div>
                  <div class="col-6">
                     <h6>Created</h6>
                     <p class="">
                        @Model.DateReported
                     </p>
                  </div>
               </div>
               <hr class="hr" />
               <div class="d-flex col-12">
                  <div class="col-6">
                     <h6>Issue Status </h6>
                     <p class="">
                        @Model.Status.Name
                     </p>
                  </div>
                  <div class="col-6">
                     <h6>Issue Priority </h6>
                     <p class="">
                        @Model.Priority.Name
                     </p>
                  </div>
               </div>
               <hr class="hr" />
               <div class="d-flex col-12">
                  <div class="col-6">
                     <h6>Reporter</h6>
                     <p class="">
                        @Model.Reporter.Name
                     </p>
                  </div>
                  <div class="col-6">
                     <h6>Assignee </h6>
                     <p class="">
                        @(Model.Assignee?.Name ?? "Not assigned")
                     </p>
                  </div>
               </div>
               <hr class="hr" />
            </div>
         </div>
      </div>

      <div class="col-6">
         <div class="card">
            <div class="card-body mt-3">
               <div class="row mb-3">
                  <form id="addCommentForm" method="post">
                     @Html.AntiForgeryToken()
                     <input asp-for="@Model.IssueId" id="issueId" hidden />
                     <label for="CommentText">Comment Message</label>
                     <textarea name="CommentText" type="text" class="form-control"></textarea>
                     <button class="btn btn-primary mt-3" type="submit">Add Comment</button>
                  </form>
               </div>


               <table id="commentTable" style="width: 100%">
                  <thead>
                     <tr>
                        <th>Author</th>
                        <th>Message</th>
                        <th>Created</th>
                     </tr>
                  </thead>
               </table>
            </div>
         </div>
      </div>

   </div>
</section>

@section Scripts {
   <script>
      var issueId = @Model.IssueId
   </script>
   <script src="/js/comment.js"></script>
}
